In [1]:
import pandas as pd
from math import sqrt

In [2]:
df = pd.read_json('https://opensky-network.org/api/sensor/list')

In [3]:
df['longitude'] = df['position'].apply(lambda pos: pos['longitude'])
df['latitude'] = df['position'].apply(lambda pos: pos['latitude'])
df['altitude'] = df['position'].apply(lambda pos: pos['altitude'])

## Find closest ADS-B

In [7]:
def find_closest(input_lon, input_lat, df):
    #this is a quick calculation without considering the earth's curvature
    
    min_distance = 0.5
    closest_index = []
     
    for index, row in df.iterrows():
        position_lat = row['latitude']
        position_lon = row['longitude']
        
        del_lat = input_lat - position_lat
        del_lon = input_lon - position_lon
        distance = sqrt(del_lat*del_lat + del_lon*del_lon)

        if ((distance < min_distance) & (df.loc[index]['online'])):
            closest_index.append(df.loc[index]['serial'])
            
    return closest_index

In [9]:
lat = 51.507222
lon = -0.1275

closest_index = find_closest(lon, lat, df)

In [10]:
print(closest_index)

[-1408236292, -1408235866, -1408235506, -1408234521, -1408234042, -1408234000, -1408233997, -1408232636, -1408232414, -1408232024, -1408231949, 1408231564, -1408231333, -1408231218, -1408230591, -1408230588, -1408230430, -1408230173, -1408230163]

In [47]:
df[df['serial'] == 1433801924]

,id,uid,type,operator,serial,active,approved,added,clientMode,position,...,online,lastConnectionEvent,address,hostname,port,tags,deleted,longitude,latitude,altitude
61,371,ONERA_Toulouse,Radarcape,,1433801924,True,True,1484006400,True,"{'longitude': 1.4, 'latitude': 43.5, 'altitude...",...,True,1690176632,,,0,,False,1.4,43.5,450.0

In [38]:
df[(df['uid'] == 'junzis') & (df['type'] == 'dump1090')]

,id,uid,type,operator,serial,active,approved,added,clientMode,position,...,online,lastConnectionEvent,address,hostname,port,tags,deleted,longitude,latitude,altitude
289,1324,junzis,dump1090,,-1408237098,True,True,1513296000,True,"{'longitude': 4.3, 'latitude': 51.9, 'altitude...",...,False,1678870604,,,10001,,False,4.3,51.9,50.0